body {
  background: #7EC91A;
background: linear-gradient(136deg, rgba(126, 201, 26, 1) 0%, rgba(147, 21, 21, 1) 50%, rgba(126, 201, 26, 1) 100%);
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
}

h1 {
  text-align: center;
  color: rgb(8,0,0);
  margin-bottom: 0;
  padding-bottom: 0;
  font-weight: 800;
}