.col {
    width: 60px;
    height: 85.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    background-color: #fff;
   
  }
  
  .card-img {
    max-width: 45px;
    max-height: 90px;
    object-fit: contain;
    opacity: 1;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  /* when it called */
  .card-img.active {
    /* opacity: 0.4; */
  }

  /* when it clicked */
  .card-img.selected {
    filter: brightness(0.5);
    border: 2px solid #333;
  }

  .card-img:not(.active) {
    opacity: 0.5;
    cursor: not-allowed;
  }
  