#card {
    padding-left: 20px;
    margin-right: 20px;
}

.class-row {
    margin-right: 30px;
    display: flex;
    gap: 12px; /* You can adjust this */
    padding: 0;
}

.card {
    margin-right: 12px;
}