.card-container {
    display: flex;
    padding: 50px 0 0 0;
    width: 85%;
    justify-content: space-between;
    border: 1px dashed black;
    margin: 0 auto;
  
  }

  .card-back {
    margin-top: 25px;
    margin-left: 25px;
  }
  
  #top-border {
    position: Absolute;
    top: -5px;
    left: -10px;
    width: 110%;
    height: 15px;
    background-color: white;
  }
  
  #left-border {
    position: absolute;
    top: 0;
    left: -10px;
    width: 15px;
    height: 100%;
    background-color: white;
  }
  
  #bottom-border {
    position: absolute;
    bottom: -7px;
    left: -10px;
    width: 110%;
    height: 15px;
    background-color: white;
  }
  
  #right-border {
    position: absolute;
    top: 0;
    right: -10px;
    width: 15px;
    height: 100%;
    background-color: white;
  }