.gameboard-wrapper {
    position: relative;
}


.game-board {
    border: 5px white solid;
}

.loteria-btn {
    margin-top: 20px;
    padding: 6px 18px;
    font-size: 14px;
    background-color: #ffd700;
    color: #000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}



.loteria-btn:hover {
    background-color: #CC9F00;
}

.loteria-btn:active {
    background-color: #FFDD66;
}