.stacked-cards {
    display: flex;
}

.card {
    width: 50px;
    height: 85px;
}

.card-1  {
    position: relative;
    margin-top: 25px;
    margin-left: 25px;
    z-index: 1;
    border: 1px white solid;
    background-color: #151b54;
}

.card-2 {
    position: absolute;
    margin-top: 27px;
    margin-left: 27px;
    z-index: 2;
    border: 1px white solid;
    background-color: #151b54;
}

.card-3 {
    position: absolute;
    margin-top: 29px;
    margin-left: 29px;
    z-index: 3;
    border: 1px white solid;
    background-color: #151b54;
}

.card-4 {
    position: absolute;
    margin-top: 31px;
    margin-left: 31px;
    z-index: 4;
    border: 1px white solid;
    background-color: #151b54;
}

.card-8 {
    position: absolute;
    margin-top: 33px;
    margin-left: 33px;
    border: white;
    z-index: 5;
}



