#rules-history {
    width:65%;
    margin: 80px auto;
    background-color: #933a16;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 30px;
    color: #D6D600;
}

.history-title {
    text-align: center;
    color: F6FF75;
}

.link {
    color: D6D600;
}

section {
    margin-top: 75px;
}

td {
    padding: 10px;
}