#rules-history {
    width:65%;
    margin: auto;
    background-color: #785c33;
    padding: 30px;
    margin-top: 80px;
}

.history-title {
    text-align: center;
}

section {
    margin-top: 75px;
}

td {
    padding: 10px;
}