#root {
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
  color: white;
  width: 265px;
  top: 0;
}

.card-container {
  position: relative;
  display: inline_block;
  float: left;
}

#top-border {
  position: Absolute;
  top: -5px;
  left: -10px;
  width: 110%;
  height: 15px;
  background-color: white;
}

#left-border {
  position: absolute;
  top: 0;
  left: -10px;
  width: 15px;
  height: 100%;
  background-color: white;
}

#bottom-border {
  position: absolute;
  bottom: -7px;
  left: -10px;
  width: 110%;
  height: 15px;
  background-color: white;
}

#right-border {
  position: absolute;
  top: 0;
  right: -10px;
  width: 15px;
  height: 100%;
  background-color: white;
}